* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figcaption, li, a, address {
	font-family: "calibri";
}

nav.top{
	background-color: #FFFFFF;
}

nav.top{
	background-color: #FFFFFF;
	display:  flex;
	justify-content: space-between;
}

nav.top div, nav.top ul, nav.top ul li{
	display: inline-block;
	margin-left: 2.5em;
}

section#p1{
	padding-top: 250px;
	background: linear-gradient(to left, rgb(57, 26, 168), rgb(13, 122, 165));
	color: white;
	text-align: center;
	height: 500px;
}

.publish > form p{
    color : #025157;
    margin-right:18px;
}

.features {
    display: grid;
    grid-template:  repeat(2,1fr)/repeat(2,1fr);

}
.feature-art{
    background-color: gray;
    margin:10px;
    width:60%;
    height:330px;
    display: grid;
    grid-template:  repeat(2,1fr)/repeat(2,1fr);
}

.sponsors{
	
	display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	
}
.cards{
	width:100%;
	margin:0 auto;
	background-color: #a1d683;
	display:flex;
	justify-content: space-around;
	align-items:center;
	padding: 2%;

}

.card{
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	justify-items:center;
	position:relative;
	width:200px;
	background-color: white;
	border-radius: 5%;

}

.card .text>*+*{
	margin-top:.75rem
}

.card .text{

	padding:1rem;
	-ms-flex:1 0 auto;
	flex:1 0 auto;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column
}
 .card .text h3{
	font-weight:300
}
 .card .text div.cta{
	margin-top:1em
}
 .card .text div.cta button{
	width:90%
}
 .card .text {
	justify-items:flex-start;
	padding-left:1rem;
	margin-bottom:2rem
}
 .card p{
	max-width:60ch;
	margin-bottom:0!important
}

.img img{
	border-radius: 5% 5% 0 0;
	width:100%;

}

  
  /* Hide the radio button */
  nav.carousel input[type=radio] {
	display: none;
	
  }
  
  /* All styling takes place on the label element */
  nav.carousel label {
	display: inline-block;
	background: #ddd;
	overflow: hidden;
	text-indent: -999px;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	box-shadow: inset 0 1px 1px 0 #999;
  }

  nav.carousel label:hover {
	background: #bbb;
	cursor: pointer;
	box-shadow: inset 0 1px 1px 0 #777;
  }
  nav.carousel input:checked + label {
	background: linear-gradient(#00CFFF, #1584bc);
	box-shadow: inset 0 0 1px 1px #087DC0;
  }
  nav.carousel{
	justify-content:center;
	align-items:flex-end;
	text-align: center;
  }

  div .car{
	text-align: center;
  }

section#p6{
	display: grid;
	background-color: #e2f5d7;
}

section#p6 h3,p,button{

	text-align: center;

}

.panel{
	text-align: -webkit-center
}

.services{
	display: inline-flex;

}

.service{
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	justify-items:center;
	position:relative;
	background-color: white;
	border-radius: 2%;
	border-style: groove;
}

section#p6 article{
	text-align: center;
	padding-bottom: 35px;
	margin: 5%;
}


footer{
	background-color: #124760;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	color:white;
}

footer div{

	display: grid;
	grid-template-columns: 33% 33% 33%;
}
