* {
	box-sizing: border-box;
}


html{
	background-color: #576475;
	padding-top: 30px;
  	padding-right: 20px;
  	padding-bottom: 20px;
  	padding-left: 20px;
	margin-bottom: 5em;
}

body{
	background-color: #EBEAE8;
}

nav 
{
	background-color: #4D5A6A;
	height: 100px;
	line-height: 100px;
}

nav div, nav ul, nav ul li
{
	display: inline-block;
	margin-left: 5em;
}

nav div.logo
{
	padding-top: 45px;
	background-color: #414D5B;
	text-align: center;
	width: 180px;
}


nav ul
{
	float: right;
}

h1,p
{
	text-align: center;
	margin: 2em 0;
}

section#recuadros
{
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
  	padding-right: 50px;
  	padding-bottom: 50px;
  	padding-left: 50px;
	margin-bottom: 5em;
}

.cuadro-color
{
	display: inline-block;
	width: 20%;
	margin-left: 3%;
	padding: 2em;


}

div.cuadro-color:nth-child(1){		
	background-color: #0BB988;

}
div.cuadro-color:nth-child(2){		
	background-color: #FBB43E;

}
div.cuadro-color:nth-child(3){		
	background-color: #F26A67;

}
div.cuadro-color:nth-child(4){		
	background-color: #45B1C9;

}

iframe {
	position:relative;
	float: center;
	left: 350px;
	top: -10px;
	margin-bottom: 3em;
}

section#articulo-doble
{
	background-color: #FFFFFF;
	width: 100%;
	text-align: center;
}

section#articulo-doble div
{
	display: inline-block;
	width: 40%;
}

}

section#dos-columnas
{
	background-color: #FFFFFF;
	width: 100%;
	text-align: center;
}

section#dos-columnas div
{
	display: inline-block;
	width: 40%;
	
}

button
{
	padding: 1.5em 2.0em;

}

section#grid article{
	border: 1px;
	padding: 1em;
	margin: 1em;

}
section#grid article img 
{
	max-width: 100%;
}
section#grid div.grid
{
	display: grid;
	grid-aut
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 100px;
    grid-gap: 10px;

}

section#flex div.container div#block1
{
	width: 50px;
	height: 50px;
	background-color: red;
	position: left;
	right: 50px;
	bottom: 20px;
}

section#flex div.container div#block2
{
	width: 50px;
	height: 50px;
	background-color: red;
	position: right;
	right: 50px;
	bottom: 20px;
}
